{% extends "base.html" %}

{% block content %}
  <div class="mt-5">
    {% if validlink %}
      <h1 class="mb-4">Change password for {{ form.user.email }}</h1>
      <form action="" method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
        <div class="mb-3">
          <label for="new_password1" class="form-label">New password:</label>
          <input 
            type="password" 
            class="form-control {% if form.new_password1.errors %} is-invalid {% endif %}" 
            name="new_password1" 
            placeholder="Please enter your new password"
          >
          {% for error in form.new_password1.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <div class="mb-3">
          <label for="new_password2" class="form-label">New password confirmation:</label>
          <input 
            type="password" 
            class="form-control {% if form.new_password2.errors %} is-invalid {% endif %}" 
            name="new_password2"
            placeholder="Please re-enter your new password"
          ></input>
          {% for error in form.new_password2.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit" id="submit">Confirm</button>
      </form>
    {% else %}
      <h1>Reset your password</h1>
      The password reset link was invalid, possibly because it has already been used. Please request a new reset link by clicking <a href="{% url 'password_reset' %}">here</a>.
    {% endif %}
  </div>
{% endblock content %}