{% extends "base.html" %}

{% block content %}
  <div class="mx-auto max-w-small pt-5">
    <h1 class="text-center">Register</h1>
    <form class="mt-3" novalidate action="{% url 'register' %}" method="post">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.html_name }}" class="form-label">{{ field.label }}</label>
          <input 
            type="{% if field.html_name == 'email' %}email{% else %}password{% endif %}" 
            class="form-control {% if field.errors %} is-invalid {% endif %}"
            name="{{ field.html_name }}" 
          >
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="text-center">
        <button class="btn btn-primary" type="submit" id="submit">Register</button>
      </div>
    </form> 
  </div>
  
{% endblock content %}
