{% extends "base.html" %}

{% block content %}
  <div class="mx-auto mt-5 max-w-medium">
    <h1 class="mb-4">Password change</h1>
    <form novalidate action="" method="post">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
          <div class="text-danger">{{ error }}</div>
      {% endfor %}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.html_name }}" class="form-label">{{ field.label }}</label>
          <input 
            type="password" 
            class="form-control {% if field.errors %} is-invalid {% endif %}"
            name="{{ field.html_name }}" 
          >
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="text-center">
        <button class="btn btn-primary" type="submit" id="submit">Confirm</button>
      </div>
    </form>
  </div>
{% endblock content %}